<!-- Pagination Controls -->
<div class="flex items-center justify-end m-6 mx-8">
  <ul class="flex items-center gap-5" id="paginationList">
    <li onclick="changePage(-1)" class="p-2 px-3 rounded-lg bg-white text-primaryText hover:bg-gray-200 cursor-pointer"><i class="fa fa-angle-left"></i></li>
    <li class="p-2 px-3 rounded-lg bg-[#4318FF] text-[#ffff]">1</li>
    <li onclick="changePage(1)" class="p-2 px-3 rounded-lg bg-white text-primaryText hover:bg-gray-200 cursor-pointer"><i class="fa fa-angle-right"></i></li>
  </ul>
</div>